body {
    background-color: yellow;
    width: 1200px;
    margin: auto;
}
img {
    display: block;
    margin: auto;
}
h1 {
    text-align: center;
}
.top-ten-facts {
    display: flex;
    flex-wrap: wrap;
    background-color: #39639b;
    justify-content: space-between;
}
.fact {
    background-color: #5b9c9f;
    flex: 1 1 18%;
    position: relative;
    max-width: 18%;
    margin: 1em 0 0 0;
    display: flex;
    align-items: center;
}
.fact p {
    flex: 1;
    margin: .5em 1em;
}
.fact:hover {
    background-color:#ab5a91;
    color: white;
}